.banner-bg {
    margin-top: 6%;
}

.banner-bg div {
    text-align: center;
    background: transparent url("../../assets/Images/banner_bg.svg") 0% 0%
        no-repeat padding-box;
}

.investor_data {
    text-align: left;
    font: normal normal normal 40px/47px Newake;
    letter-spacing: 2px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    opacity: 1;
}

.invest_date {
    font: normal normal normal 26px/31px Newake;
    letter-spacing: 1.3px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bolder;
    opacity: 1;
}
