.get-in-touch-title {
    text-align: center;
    font: normal normal normal 40px/47px Newake;
    letter-spacing: 1.2px;
    color: #000000;
    text-transform: uppercase;
    font-weight: bold;
}

.get_in_touch {
    display: flex;
    background: #fcfcfc;
}

.get-in-touch-field {
    border: none;
    outline: none;
    border-bottom: 3px solid #005397;
    margin: 0% !important;
    background-color: #fcfcfc;
}

.information-banner {
    background-color: #005397;
    /* padding: ; */
}
.group-svg {
    display: flex;
    margin-top: 17%;
    width: 100%;
}

.phone-svg {
    display: flex;
    margin-top: 11%;
}

.message-svg {
    display: flex;
    margin-top: 9%;
}

.social-site {
    display: flex;
    height: 54px;
    width: 54px;
    margin-top: 13%;
    margin-left: 3%;
    background: transparent url("../../assets/Images/Ellipse 128.svg") 0% 0%
        no-repeat padding-box;
    align-items: center;
    justify-content: center;
}

.ful-name-item {
    padding: 0px 10px 0px 0px !important;
}

.email-item {
    padding: 0px 0px 0px 10px !important;
}

.form-items {
    padding: 0px 7% 0px 21%;
}

.full_name_email_fields input {
    margin: 10px;
    width: 100%;
}

.subject_field {
    width: 100%;
    margin-top: 7%;
}

.subject_field .get-in-touch-field {
    width: 100%;
}

.message_field .get-in-touch-field {
    width: 100%;
    margin-top: 12%;
}

.form_fields {
    padding: 0px 3% 0px 8%;
    width: 50%;
    margin-top: 4%;
    margin-bottom: 4%;
}

.message_field {
    margin-top: 14%;
}

.info_banner {
    background-color: #005397;
    width: 31%;
    margin-left: 17px;
    font: normal normal medium 22px/27px Roboto;
    letter-spacing: 0.22px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 14px;
    margin-top: 4%;
    margin-bottom: 4%;
}

.full_name_email_fields {
    display: flex;
    width: 100%;
    margin-top: 13%;
}

.social_site_icon {
    display: flex;
    align-items: center;
    margin-bottom: 13%;
}

.inner_full_name {
    width: 50%;
}
.inner_email {
    width: 50%;
}

.inner_send_message {
    background: #ec9a26 0% 0% no-repeat padding-box;
    border-radius: 24px;
    border: none;
    color: white;
    width: 29%;
    height: 40px;
    margin-top: 7%;
    margin-left: 4%;
}

.image_part {
    width: 10%;
}

.description_part {
    width: 70%;
    margin-left: 4%;
}

.all_banner_item {
    margin-left: 18%;
}
