.iteam-button {
    height: 50px;
    width: 44%;
    margin-right: 1%;
}

.iteam-button:hover {
    background-color: darkorange !important;
}

.navbar-comp {
    height: 100px !important;
    box-shadow: 0px 1px 4px #0000000f;
    opacity: 1;
    background: #ffffff;
}

.div-right {
    display: flex;
    justify-content: flex-end;
    width: 30%;
    margin-right: 7%;
}
.div-right-two {
    margin-left: 23%;
}

.div-left {
    width: 70%;
    margin-left: 6%;
}

.nav-iteam-color {
    color: black !important;
    font-size: 20px;
}

.main-logo {
    margin-left: 6%;
}
