.misssion-statement {
    text-align: center;
    margin-top: 10%;
}

.misssion-statement-description {
    font: normal normal normal 20px/38px Roboto;
    margin-left: 33%;
    margin-right: 34%;
}

.misssion-statement-title {
    font: normal normal normal 70px/93px Newake;
    margin-top: 5%;
}

.misssion-statement-title-1 {
    margin-right: 8px;
    font-weight: bold;
}

.misssion-statement-title-2 {
    font-weight: bold;
    color: #ec9a26;
}
