.footer-copyright {
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px -2px 4px #0000000f;
    height: 80px;
    width: 100%;
}

.footer-main-logo {
    text-align: end;
}

.footer-logo {
    width: 95px;
    margin-top: 10px;
}

.footer-title {
    text-align: center;
    margin-top: 4%;
    font: normal normal medium 18px/22px Roboto;
    color: #000000;
}

.footer_col {
    padding: 0px !important;
}
